# Ignore compiled bytecode files
__pycache__/

# Ignore Chainlit cache and virtual environment
.chainlit/
.venv/
.cache/
.DS_Store

# Ignore environment variables file
.env

endpoint-test.py
app/test.py